/* Navbar */

.navbar{

    width:100%;

    height:80px;

    background:#0f172a;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 60px;

    position:fixed;

    top:0;

    left:0;

    z-index:1000;

    box-sizing:border-box;

    box-shadow:0 5px 15px rgba(0,0,0,.3);

}

.logo{

    font-size:30px;

    font-weight:bold;

    color:#38bdf8;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:35px;

}

.nav-links a{

    color:white;

    text-decoration:none;

    font-size:18px;

    transition:.3s;

}

.nav-links a:hover{

    color:#38bdf8;

}

.resume-btn{

    background:#38bdf8;

    color:white;

    padding:12px 22px;

    border-radius:8px;

    text-decoration:none;

    transition:.3s;

}

.resume-btn:hover{

    background:#2563eb;

}